* { 
    box-sizing: border-box; 
}
body {
    background-color: #ffffff;
    color: #666666;
    font-family: verdana, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    margin:0;
}
header {
    background-color: #003058;
    color: #ffffff;
    font-family: Georgia, serif;
    grid-row: 1 / 2;
    grid-column: 2 / -2;
}
header a{
    color: #ffffff;
    text-decoration: none;
}
header h1{
    line-height: 140%;
    padding: 0.5rem;
    background-image: url(utahtechimages/utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1em;
    margin: 0;
}
nav {
    background-color: #424242;
    font-weight: bold;
    padding: 0;
    position: sticky;
    top: 0;
}
nav a:hover {
    background-color: #ba1c21;
}
nav a {
     text-decoration: none; 
     color: #ffffff;
     padding: 1rem 0rem;
     display: block;
     text-align: center;
    }
nav ul {
    margin: 0px;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}
nav ul li {
    width: 100%;
}
h2 {
    color: #424242;
    font-weight: bold;
}
dt {
    color: #003058;
    font-weight: bold;
}
.ut {
    color: #ba1c21;
    font-weight: bold;
}
footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}
#wrapper {
    display:grid;
    grid-auto-rows: minmax(0px,auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
h3 {
    color: #003058;
}
main {
    padding: 0 2rem;
}
#homehero {
    height: 300px;
    background-image: url(utahtechimages/homehero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#studenthero {
    height: 300px;
    background-image: url(utahtechimages/studenthero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#facultyhero {
    height: 300px;
    background-image: url(utahtechimages/facultyhero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav {
    grid-row: 2 / 3;
    grid-column: 2 / -2;
}
#homehero, #studenthero, #facultyhero {
    grid-row: 3 / 4;
    grid-column: 2 / -2;
}
main {
    grid-row: 4 / 5;
    grid-column: 2 / -2;
}
footer {
    grid-row: 5 / 6;
    grid-column: 2 / -2;
}
main img {
    padding-left: 2rem;
    float: right;
}