#wrapper {
    display:grid;
    grid-auto-rows: minmax(0px,auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-color: green;
    min-height: 50px;
    text-align: center;
}
nav {
    grid-row: 2 / 3;
    grid-column: 2 / -2;
    background-color: red;
    min-height: 20px;
}
main {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    background-color: yellow;
    min-height: 200px;
}
.gallery {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    background-color: blue;
    min-height: 30px;
}